/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* You can add global styles to this file, and also import other style files */
@import './scss/styles.scss';

header {
  height: $header-height;
  background-color: $color-primary;
  color: $color-primary-invert;
}

main{
    height: calc(100vh - #{$header-height});
    color: $color-primary-text;
    overflow-y: auto;
}
